VC_ENVIRONMENT={{ runtime_environment | to_json }}
DJANGO_SETTINGS_MODULE="vessel_caller.settings.production"
VC_BIND={{ runtime_bind | to_json }}
VC_SECRET_KEY={{ runtime_secret_key | to_json }}
VC_DATABASE_URL={{ runtime_database_url | to_json }}
VC_ALLOWED_HOSTS={{ runtime_host | to_json }}
VC_CSRF_TRUSTED_ORIGINS={{ runtime_csrf_origin | to_json }}
VC_REDIS_URL={{ ("redis://:" ~ (runtime_redis_password | urlencode) ~ "@127.0.0.1:" ~ runtime_redis_port ~ "/0") | to_json }}
VC_FRONTEND_URL={{ runtime_frontend_url | to_json }}
VC_RESEND_API_KEY={{ runtime_resend_api_key | to_json }}
VC_EMAIL_FROM={{ runtime_email_from | to_json }}
VC_SPACES_KEY={{ runtime_spaces_key | to_json }}
VC_SPACES_SECRET={{ runtime_spaces_secret | to_json }}
VC_SPACES_BUCKET={{ runtime_spaces_bucket | to_json }}
VC_SPACES_REGION={{ vessel_spaces_region | to_json }}
VC_SPACES_ENDPOINT_URL={{ vessel_spaces_endpoint_url | to_json }}
VC_MFA_ENCRYPTION_KEY={{ runtime_mfa_encryption_key | to_json }}
VC_SENTRY_DSN={{ runtime_sentry_dsn | to_json }}
VC_LOG_LEVEL="INFO"
