VESSEL_CALLER_PUBLIC_URL=https://{{ vessel_domain }}
FLEXSCHOOLS_HEALTH_URL={{ vessel_flexschools_health_url }}
BACKUP_MARKER={{ vessel_state_root }}/backups/last-success
MAX_BACKUP_AGE_SECONDS=93600
BACKUP_MONITORING_ENABLED={{ vessel_backups_enabled | bool | lower }}
ALERT_WEBHOOK_URL={{ vessel_alert_webhook_url }}
