VC_DATABASE_URL={{ vessel_production_database_url }}
BACKUP_AGE_RECIPIENT={{ vessel_backup_age_recipient }}
BACKUP_SPACES_BUCKET={{ vessel_backup_spaces_bucket }}
BACKUP_SPACES_ENDPOINT={{ vessel_backup_spaces_endpoint }}
BACKUP_REMOTE_PREFIX=database/daily
BACKUP_LOCAL_DIR={{ vessel_state_root }}/backups
AWS_ACCESS_KEY_ID={{ vessel_backup_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ vessel_backup_aws_secret_access_key }}
AWS_DEFAULT_REGION={{ vessel_spaces_region }}
